@use "../dirs/variables";

.main {
    background-color: variables.$primary-color;
    min-height: 650px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
    padding: 1em 3em;
    padding-bottom: 5em;

    &Container {
        display: flex;
        align-items: flex-end;
        min-height: 500px;
        gap: 1em;
    }

    &Wrapper {
        display: flex;
        flex-direction: column;
        gap: 2em;

        &:first-child {
            width: 70%;
        }

        &:last-child {
            width: 30%;
        }

        .buttonContainer {
            max-width: 250px;
            height: 60px;
            width: 100%;
            z-index: 1;
        }

        .episodeWrapper {
            max-width: 350px;
        }
    }
}

.sectionPhrase {
    padding: 2.5em;
    background-color: variables.$secondary-color;

    h3 {
        font-weight: 500;
    }
}

.sectionEpisodes {
    padding: 3em 2em;

    .episodesContainer {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

.sectionForm {
    position: relative;
    padding: 2em;
    min-height: calc(450px + 12vw);
    display: flex;
    justify-content: center;
    align-items: center;
   
    &::before{
        content: '';
        background-image: url('../assets/images/home/Mask+Group.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: brightness(.5);
    }

    &Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        max-width: 800px;
        width: 100%;
        color: #fff;

        h2,
        p {
            text-align: center;
        }

        .form {
            display: flex;
            justify-content: space-evenly;
            max-width: 550px;
            width: 100%;

            input {
                max-width: 300px;
                width: 100%;
                padding: 1.1em;
                font-size: 1.2em;
            }

            .buttonContainer {
                max-width: 120px;
                width: 100%;
                height: 60px;

                button {
                    z-index: 1;
                    cursor: pointer;
                }

            }
        }
    }
}

.sectionAbout {
    min-height: 500px;
    padding: 2em 2em;

    .aboutContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
        width: 100%;
    }

    .aboutMerchandise {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        max-width: 500px;

        .buttonContainer {
            max-width: 300px;
        }
    }

    .aboutContainerImage {
        display: flex;
        justify-content: end;
        position: relative;
        max-width: 480px;

        .aboutImage {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:first-child {
                position: absolute;
                top: 30px;
                left: 40px;
            }

            &:last-child {
                z-index: 2;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding-top: 9em;

        &Container {
            flex-direction: column;
            gap: 3em;
        }

        &Wrapper {

            &:first-child,
            &:last-child {
                width: 100%;
            }
        }
    }

    .sectionForm{

        .form{
            flex-direction: column;
            align-items: center;
            gap: 1.5em;
        }
    }

    .sectionAbout{

        .aboutContainer{
            flex-direction: column;
            gap: 5em;
        }
    }

}
