.episodesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 3em;
}

@media screen and (max-width: 768px) {
    .episodesWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .episodesWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}